body {
    font-family: Arial;
    background-color: #22222399;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}
